*
!*/
!*.*
nim.cfg
vendor/*/
nimcache
*.out

.tool-versions
*.dSYM/
/*.png
/tests/output/*.png
nimble.develop
nimble.paths
.nimcache
deps/
.nimcache
nimbledeps
/examples/emscripten/*.js
/examples/emscripten/*.wasm
/examples/emscripten/*.data
/examples/emscripten/*.html
!/examples/emscripten/emscripten.html
