on:
  push:
    branches:
    - "main"
  pull_request:
    branches:
    - "*"


jobs:
  tests:
    runs-on: macos-14
    strategy:
      matrix:
        nimversion:
          - '2.2.6'
    steps:
    - uses: actions/checkout@v1

    - name: Install GrabNim
      run: |
        curl -fsSL https://codeberg.org/janAkali/grabnim/raw/branch/master/misc/install.sh | sh
        echo "$HOME/.local/share/grabnim/current/bin" >> $GITHUB_PATH
        echo "$HOME/.nimble/bin" >> $GITHUB_PATH

    - name: Install Nim
      run: |
        grabnim ${{ matrix.nimversion }}
        nim -v

    - name: Cache packages
      uses: actions/cache@v3
      with:
        path: deps/
        key: ${{ runner.os }}-${{ hashFiles('metalx.nimble') }}

    - name: Install Atlas
      run: |
        nimble install 'https://github.com/nim-lang/atlas@#head'
        echo "Nim:: "
        nim -v
        echo "Atlas:: "
        atlas -v

    - name: Install Deps
      run: |
        # sync deps
        atlas install --feature:test

    - name: Build Tests
      run: |
        nim test
